body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  padding: 20px;
  background-color: #f7f7f7;
  color: #333;
}

.theme-dark {
  background-color: #2b2b2b;
  color: #f7f7f7;
}

.header {
  text-align: center;
  margin-bottom: 40px;
}

.header h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.header p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.theme-button {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #6c63ff;
  color: #fff;
}

.profile {
  text-align: center;
  margin-bottom: 40px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
}

.profile-picture {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
}

.contact-info {
  list-style: none;
  padding: 0;
  margin: 0 0 20px;
}

.contact-info li {
  margin: 5px 0;
}

.download-button {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #6c63ff;
  color: #fff;
}

.projects {
  margin-top: 40px;
}

.projects h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2rem;
}

.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.project-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.project-card h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.project-card p {
  margin-bottom: 10px;
}

.project-stats {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.project-language {
  font-weight: bold;
}

.project-link {
  text-decoration: none; /* Remove underline */
  color: inherit;        /* Inherit text color */
}

.project-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
  transform: translateY(-2px);              /* Slight upward movement */
  transition: all 0.3s ease;                /* Smooth transition */
}